<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head')%>

<body>
    <header><%- include('../partials/header') %></header>
    <div class="container">
        <% if(error && error.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
            <% error.forEach(function(elt){%>
                <%= elt;%><br />
            <% }); %>
            </div>
        <% } %>
        <form name="frmRegister" id="frmRegister" action="/register" method="POST"> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text" name="username" id="username" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" name="password" id="password" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="repassword">Nhập lại mật khẩu</label>
                        <input type="password" name="repassword" id="repassword" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input name="email" id="email" value="" class="form-control" />
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Họ tên của bạn:</label>
                        <input type="text" name="name" id="name" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại: </label>
                        <input name="phoneNumber" id="phoneNumber" value="" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="isMale">Giới tính:</label>
                                <select name="isMale" id="isMale" class="form-control" >
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="birthday">Ngày sinh:</label>
                                <input type="date" id="birthday" name="birthday" value="1999-09-03" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ:</label>
                        <textarea id="address" name="address" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" name="btnSave" id="btnSave" class="btn btn-primary">Đăng ký</button>
        </form>
    </div>
    

    <footer><%- include('../partials/footer') %></footer>
    <!-- SCRIPT -->
    <%- include('../layouts/scripts')%>
</body>
</html>