<!DOCTYPE html>
<html lang="en">

<%- include('./../layouts/head')%>

<body>
    <header><%- include('./../partials/header') %></header>
    <!-- SCRIPT -->
    <%- include('./../layouts/scripts')%>
    <div class="container">
        <h4>Thông tin đơn hàng - <%= order.o_id %> - <% if(order.o_isPaid ==0 ) {%><span class="badge badge-warning">Chưa thanh toán</span><%}else{%><span class="badge badge-success">Đã thanh toán</span><%} %></h4>
        <div class="row">
            <div class="col">
                <table >
                    <tbody>
                        <tr>
                            <th >Khách hàng: </th>
                            <td><%= order.username%></td>
                        <tr>
                            <th >Ngày đặt hàng: </th>
                            <td><%= moment(order.o_date).format('DD-MM-YYYY');%></td>
                        <tr>
                            <th >Địa chỉ giao hàng: </th>
                            <td><%= order.o_address %></td>
                        <tr>
                            <th>Hình thức thanh toán: </th>
                            <td><% payments.forEach( function(elt){ if(elt.pmt_id == order.pmt_id){ %> <%=elt.pmt_name%><%} } ) %></td>
                        </tr>   
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>   
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var i=1; detail.forEach(function(product){ %>
                        <tr>
                            <th scope="row"><%= i++; %></th>
                            <td><%= product.p_name %> </td>
                            <td><img src="/img/products/<%= product.pi_path %>" height="150"/></td>
                            <td><%= Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(product.odp_price) %> </td>
                            <td><%= product.odp_number %> </td>
                            <td><%= Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(product.odp_price*product.odp_number) %> </td>
                        </tr>
                        <% }); %>
                        <tr>
                            <th colspan="5" class="text-right w-100">Tổng cộng</th>
                            <td><%= Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(order.o_totalamount) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>